{% extends "base.html" %}


{% block body %}
<h1>About</h1>

<img src="/static/img/about-logo.png" style="float:right;">

<div style="width: 80%; margin: auto; color: #767676; ">
	<h2>Stop the waste!</h2>
	<p>
Maar liefst 50% van alle voedsel wordt in onze westerse maatschappij niet geconsumeerd. De helft gaat verloren op weg van de landbouw/leverancier naar uw bord. Hiertegenover staat een cijfer van 117.440 Belgen die in 2011 een beroep deden op de voedselbanken via de 629 liefdadigheidsinstellingen. Dit is een stijging van 2% tov 2010. Wastewatchers.be is een platform dat kleinhandelaars de kans geeft een betere bestemming te geven aan hun voedseloverschotten. De handelaar meldt overschotten via het platform, de artikelen worden opgehaald door een vrijwilliger en de vrijwilliger overhandigt de artikelen aan de liefdadigheidsinstelling waar het voedsel wordt ingezameld.
	</p>

	<h2>More questions?<br/>Ask us anything</h2>

	<p style="clear:right; text-align: center;">
	<img src="/static/img/about-dialog.png" />
	</p>
</div>
{% endblock %}
