{% extends "base.html" %}


{% block body %}
<h1>Got Waste</h1>

<div style="width: 80%; margin: auto; color: #767676; ">
	<p>
	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ac auctor felis. Suspendisse aliquet est sem, tincidunt cursus augue. Quisque bibendum mauris eget leo elementum dapibus. Vivamus at dolor in justo eleifend ullamcorper. Curabitur fringilla semper tincidunt. Quisque nec orci quam. Quisque laoreet lacus et orci semper sit amet tristique leo imperdiet. Quisque sagittis semper sollicitudin. Donec tincidunt lacinia iaculis. Aliquam pellentesque suscipit eros, a rutrum nunc tincidunt vel. Maecenas ipsum tellus, luctus et elementum nec, dictum id libero. Praesent dui nunc, facilisis in commodo nec, cursus eu lorem. Nunc ornare consequat orci, sagittis pharetra enim euismod id.
	</p>
	<h2>We take care of the rest</h2>
</div>
<p style="clear:right; text-align: center;">
<img src="/static/img/gotwaste.png" />
</p>
{% endblock %}
