{% extends "base.html" %}


{% block body %}
<h1>Got Waste</h1>

<div style="width: 80%; margin: auto; color: #767676; ">
	<h2>Watch it!</h2>
	<p>
Meld hier je overschotten. Dit kan op woensdag tussen 14u en 18u. Overschotten worden opgehaald tussen 16u en 19u. Je kan ook per sms overschotten melden, via het nr 0486/78.98.98. In je sms omschrijf je wat er moet worden opgehaald.
	</p>
	<!--<h2>We take care of the rest</h2>-->
</div>
<p style="clear:right; text-align: center;">
<img src="/static/img/gotwaste.png" />
</p>
{% endblock %}
