{% extends "base.html" %}


{% block body %}
        <h1>Login / Register</h1>

	<div class="login-page">
		<div style="width: 900px; margin: auto;">
			<div style="width: 40%; float: left; color: #968b7c; ">
				<h2>Do you wish to watch your waste?</h2>
				<p>Handelaars en vrijwilligers kunnen zich hier registreren en aanloggen!</p>
			</div>
			<div class="login-box">
				<input type="text" value="First name" /><br />
				<input type="text" value="Last name" />
			</div>
		</div>
		<p style="text-align: center;">
			<img src="/static/img/footer.png" />
		</p>

		<h2>Maak met weinig moeite een groot verschil!</h2>
		<p>
Na registreren/inloggen kan je jezelf op de pagina ‘Where’s the action’ linken aan een kleinhandelaar die meestapt in het project. Je wordt de waste watcher van deze winkel! Hiermee engageer je jezelf om op woensdag eventuele voedseloverschotten op te halen en af te leveren in het verzamelpunt. Je wordt per sms op de hoogte gebracht en bevestigt via een gratis sms naar ditzelfde nummer. Indien je om één of andere reden niet in actie kan schieten, stuur je gewoon een negatief antwoord terug. In dit geval wordt een ‘wisselwatcher’ van de bank gehaald en ingeschakeld. Je kan je ook steeds registreren als wisselwatcher.
		</p>

		<h2>Handelaar</h2>
		<p>
Je hebt voedseloverschotten maar slaagt er niet in om ze een betekenisvolle bestemming te geven? Watch your waste en stap mee in het project van de waste watchers! Na registratie kan je elke woensdag per sms eventuele overschotten melden via een gratis nummer. De waste watcher die zich aan jouw onderneming heeft gelinkt (zie hiervoor pagina ‘Where’s the action) ontvangt een sms met de omschrijving van jouw overschotten. Na bevestiging, haalt hij de overschotten op en levert ze af bij het inzamelpunt. Het melden en ophalen van overschotten gebeurt op vooropgestelde tijdstippen.
		</p>
	</div>
{% endblock %}
