{% extends "base.html" %}


{% block body %}
        <h1>Login / Register</h1>

	<div class="login-page">
		<div style="width: 900px; margin: auto;">
			<div style="width: 40%; float: left; color: #968b7c; ">
				<h2>Welcome back</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipescing elit. Nunc sed metus dolor,</p>
			</div>
			<div class="login-box">
				<input type="text" value="First name" /><br />
				<input type="text" value="Last name" />
			</div>
		</div>
		<p style="text-align: center;">
			<img src="/static/img/footer.png" />
		</p>
	</div>
{% endblock %}
